/* Index */
h1 {
  font-family: 'Rubik', sans-serif;
}

.headerImg {
  height: 50px;
  width: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #F2F2F3;
  text-align: center;
}

input {
  text-align: center;
}

.pure-menu-link {
  color: #0B99BC;
}

.topNav {
}

.bottomNav {
  text-align: center;
}

.button-submit {
  /*border-radius: 20px;*/
}

.click {
  cursor: pointer;
  display: block;
}

.click:hover {
  color: #0B99BC;
}

/* Homepage Partial */
.homepage {
  margin: auto;
  width: 85%;
}

.homepage > div {
  margin: 10px;
  text-align: center;
}

.homePhoto {
  border-radius: 20px;
  border: 1px solid #0B99BC;
}

/* Signup Partial */
.signUp > div {
  padding-bottom: 10px;
}


/* User Partial */

/* Forum Partial */

/* Create Post Partial */

/* Post Partial */

/* Comment View Partial */

/* Behavior Partial */

/* Meetups Partial*/
.groupPhoto {
  height: 20%;
  width: 20%;
}
