/* Index */
h1 {
  font-family: 'Rubik', sans-serif;
}

.headerImg {
  height: 50px;
  width: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #F2F2F3;
}

.pure-menu-link {
  color: #0B99BC;
}

.topNav {
}

.bottomNav {
  margin: auto;
  width: 50%;
}

.button-submit {
  border-radius: 20px;
}

.click {
  cursor: pointer;
}

/* Homepage Partial */

/* Signup Partial */

/* User Partial */

/* Forum Partial */

/* Create Post Partial */

/* Post Partial */

/* Comment View Partial */

/* Behavior Partial */

/* Meetups Partial*/
.groupPhoto {
  height: 20%;
  width: 20%;
}
