<div class="individualComment">
  <p ng-show="!editCommentForm">{{comment.body}}</p>

  <div class="">
    <button ng-show="home.currentUser.id==comment.user_id" ng-click="editCommentForm=true">Edit Comment</button>
    <button ng-show="home.currentUser.id==comment.user_id" ng-click="comments.deleteComment(home.currentUser, comment.id)">Delete Comment</button>

    <form ng-show="editCommentForm" ng-submit="comments.editComment(comment, home.currentUser, comment.id)">
      <textarea ng-model="comment.body"></textarea>
      <button ng-click="editCommentForm=false">Submit</button>
    </form>
  </div>
</div>
