<h2>How Can We Help?</h2>

<div class="searchBehavior">
  <form class="pure-form">
    <div class="">
      <label for="dogBehaviors">Describe Your Dog's Behavior</label>
    </div>
    <div class="">
      <input class="inputTitle" id="dogBehaviors" type="text" placeholder="i.e. Barking, Chewing, House-Training" ng-model="searchBar">
    </div>
    <!-- <button class="button-submit pure-button">Submit</button> -->
  </form>
</div>

<div class="searchResults" ng-show="searchBar" ng-repeat="behavior in behaviors.allBehaviors | filter: searchBar">
  <h2>{{behavior.name}}</h2>

  <div class="suggestions">
    <h3>Here are some suggestions:</h3>
    <p>1) {{behavior.suggestion_one}}</p>
    <p>2) {{behavior.suggestion_two}}</p>
    <p>3) {{behavior.suggestion_three}}</p>
    <p>4) {{behavior.suggestion_four}}</p>
    <p>5) {{behavior.suggestion_five}}</p>
  </div>

  <div class="resources">
    <h3>Here are some more resources:</h3>
    <p><a href="{{behavior.resource_one}}">{{behavior.resource_one}}</a></p>
    <p><a href="{{behavior.resource_two}}">{{behavior.resource_two}}</a></p>
    <p><a href="{{behavior.resource_three}}">{{behavior.resource_three}}</a></p>
  </div>

</div>
