<div class="homepage pure-g">
  <div class="homeBehavior pure-u-1 pure-u-md-7-24">
    <h2 class="click" ui-sref="behavior">Search Behaviors</h2>
    <p>Want some quick insight into your dog's behavior? Check out our behavior page to quickly get suggestions and resources on steps you can take!</p>
    <img class="pure-img homePhoto" src="images/dog4.jpg" alt="Dog Shoe">
  </div>
  <br>
  <div class="homeForum pure-u-1 pure-u-md-7-24">
    <h2 class="click" ui-sref="forum">Visit Our Forum!</h2>
    <img class="pure-img homePhoto" src="images/dog5.png" alt="Dog Trainer">
    <p>Connect with other users through our forum page! This is your place to ask specific questions on how you can teach your pup new tricks or curb their less appealing habits.</p>
  </div>
  <br>
  <div class="homeMeetup pure-u-1 pure-u-md-7-24">
    <h2 class="click" ui-sref="meetup">Meetup Groups</h2>
    <p>Click here to find local Meetup groups where you can connect with dog-friendly communities! All you need is your zipcode and the number of miles you're willing to go, and we'll do the rest.</p>
    <img class="pure-img homePhoto" src="images/dog3.jpg" alt="Dog Group">
  </div>
</div>
