<div class="">
  <h1>{{comments.singlePost.title}}</h1>
  <h4>{{comments.singlePost.created_at | date: 'MM-dd-yyyy HH:mm' }}</h4>
  <p>{{comments.singlePost.body}}</p>
  <div class="">
    <button ng-show="home.currentUser.id==comments.singlePost.user_id" ng-click="editForm=true">Edit Post</button><button ng-show="home.currentUser.id==comments.singlePost.user_id" ng-click="comments.deletePost(home.currentUser, comments.singlePost.id)">Delete Post</button>

    <form ng-show="editForm" ng-submit="comments.editPost(post, home.currentUser, comments.singlePost.id)">
      <input type="text" placeholder="{{comments.singlePost.title}}" ng-model="post.title">
      <textarea placeholder="{{comments.singlePost.body}}" ng-model="post.body"></textarea>
      <button ng-click="editForm=false">Submit</button>
    </form>
  </div>
</div>
<br>
<div class="">
  <h3>Comments</h3>
  <div class="" ng-repeat="comment in comments.postComments | orderBy: 'created_at' ">
    <comment />
  </div>
  <br>
  <div class="">
    <button ng-show="home.currentUser" ng-click="createForm=true">Add Comment</button>
    <p ng-show="!home.currentUser">Please sign in to add a comment.</p>

    <form ng-show="createForm" ng-submit="comments.createComment(home.currentUser, comments.singlePost.id)">
      <textarea ng-model="comments.newComment.body"></textarea>
      <button ng-click="createForm=false">Submit</button>
    </form>
  </div>
</div>
<br>

<a ui-sref="forum">Return to Forum</a>
